.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 11%
    right: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner_interno.jpg") !important

.banner-interno__titulo__icono   
  background-color: #734f43
  position: relative
.banner-interno__titulo h2
  color: #734f43 !important
  position: relative
.fa-info 
  --fa: "\f129"
  color: #12263F
.fondo01
  background-image: url('../assets/curso/portada/fondo01.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondot01
  background-image: url('../assets/curso/Tema1/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondot01_1
  background-image: url('../assets/curso/Tema1/fondo2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondo01t3
  background-image: url('../assets/curso/Tema3/fondo01.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondo01t31
  background-image: url('../assets/curso/Tema3/fondo03.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondo01t2
  background-image: url('../assets/curso/Tema2/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondo_pasos_t2
  background-image: url('../assets/curso/Tema2/fondo3.png')
  background-position: top
  background-size: 100% 45%
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondoblanco
  background: url('../assets/curso/Tema2/fondoblanco.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  @media screen and (max-width: 767px)
    background-size: cover 
    border-radius: 20px
  @media screen and (max-width: 992px)
    background-size: cover 
    border-radius: 20px
.fondoslyder
  background: url('../assets/curso/Tema2/fondoslyder.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3rem
  @media screen and (max-width: 767px)
    background-size: cover 
    border-radius: 20px
  @media screen and (max-width: 992px)
    background-size: cover 
    border-radius: 20px
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #734F43
  border: 1px solid #734F43
  background-image: url(../assets/curso/Tema2/flecha.svg)
.slyder-a__bullets__item--active 
  background-color: #658B99 !important
  border-color: #658B99
  opacity: 1
.slyder-a__bullets__item 
  background-color: #D9EAF0
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
  width: fit-content
.w-card-text2
  position: relative
  padding-left: 38px
  padding-right: 38px
  left: 0px
  top: 8px
  width: fit-content
.texto_tarjetas
  background-color: #ffff

.boton *, .boton--sm * 
  color: #fff

.banner-principal__info 
  background-color: #E3DCD9
  border-radius: 20px
  margin-top: 1rem
  margin-bottom: 1rem
.titulo-segundo:after 
  border-left-color: #C6E6F2
.tabs-a__tab:last-child 
  margin-bottom: 0 !important
  background-color: #CBDEE5
.tarjeta.color-acento-botones * 
  color: #212529
.fa-circle-chevron-right 
  content: url('../assets/curso/Tema3/camisa.png')
.bloque-texto-e i 
  font-size: 2.5em
  color: #4C6873
.bg1
  background-color: #E3E4ED !important
.bg2
  background-image: url('../assets/curso/Tema3/fondo02.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
.bg3
  background-color: #454964
.bg4
  background-color: #727AA6
.bg5
  background-color: #A6826D
.bg6
  background-color: #453028
.bg7
  background-color: #E3DCD9
.bg8
  background-image: url('../assets/curso/Tema2/fondo2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
.fondotabs
  background: url('../assets/curso/Tema2/fondotabs.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
.tabs-c__header 
  margin-bottom: 0px
  background-color:#ffff
.tabs-c__tab--active 
  font-weight: bold 
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #212529 
.tabla-a.color-acento-botones thead 
  border-color: #454964
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #12263F !important
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
 
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
 
.cambiartarjeta
  background-image: url('../assets/curso/Tema2/rosado.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  border-radius: 20px
  color: black
  &:hover
    background-image: url('../assets/curso/Tema2/azul.png')
    color: white
.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto

// TARJETA HOVER  
.nav-holder2
  display: inline-block
  overflow: hidden
  position: relative
  border-radius: 25px
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  transform: translateZ(0)
.nav-holder2 *, .nav-holder2 *:before, .nav-holder2 *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  transition: all 0.45s ease
.nav-holder2:before
  position: absolute
  top: -13%
  bottom: 0
  left: 0
  right: 0
  content: ''
  background-color: #454964
  opacity: 1
  z-index: 888
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  -ms-transition: all 0.45s ease
  transition: all 0.45s ease
  -webkit-transform: translateY(85%)
  -moz-transform: translateY(85%)
  transform: translateY(85%)
.nav-holder2:hover:before
  -webkit-transform: translateY(30%)
  -moz-transform: translateY(30%)
  transform: translateY(30%)
  opacity: 1
  -webkit-transition-delay: 0.1s
  -moz-transition-delay: 0.1s
  transition-delay: 0.1s
  background-color: #E3DCD9
.nav-holder2
  .text
    position: absolute
    top: 75%
    bottom: 0px
    left: 0px
    right: 0px
    z-index: 999
    bottom: 0
    padding: 1em
  img
    backface-visibility: hidden
    max-width: 100%
    vertical-align: top
    z-index: 0
  p
    margin: 0
    opacity: 0
    line-height: 1.2em
.nav-holder2 h4
  margin: 0
  opacity: 1
.nav-holder2:hover
  .text
    top: 25%
  h4, p
    opacity: 1
    color: $color-sistema-texto
@media (max-width: $bp-max-xs)    
  .nav-holder2 .text
    top: 75%
  .nav-holder2:hover .text 
    top: 24%
  .nav-holder2:hover:before
    -webkit-transform: translateY(30%)
    -moz-transform: translateY(30%)
    transform: translateY(30%)
.nav-holder2 *, .nav-holder2 *:before, .nav-holder2 *:after 
  color: #ffff 

.slyder-f__btn
    width: 8%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
.slyder-f__btn i 
    font-size: 1.5rem
    min-width: 40px
    max-width: 40px
    min-height: 40px
    max-height: 40px
    flex: auto
    border-radius: 50%
    background-color: #453028
    display: flex
    justify-content: center
    align-items: center
.slyder-f__btn.pe-1
  margin-right: 1rem
  padding-right: 0 !important
.slyder-f__btn.ps-1
  margin-left: 1rem
  padding-left: 0 !important

.tarjeta.color
  background-color: #F2F7F9
  border-radius: 20px
.bloque-texto-g__texto 
  position: relative
  width: 68%
  background-color: rgba(255, 255, 255, 0.95)

.bg-color
  background-color: #C6CADB
.tarjeta--azul 
  background-color: #C6CADB
.p-3.pb-0.p-md-4.pb-md-0.mb-3.tarjeta.tarjeta--azul.acordion__activo
  background-color: #F1EEED !important

.acordion__accion__btn--a.h3.mb-0.me-3
  background-color: #453028 !important

.fa-minus, .fa-subtract
  --fa: "\f068"
  color: #fff
.fa-add, .fa-plus 
  --fa: "\2b"
  color: #fff
.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
    background-color: #F1EEED
.linea-tiempo-d .tarjeta 
    border-radius: 5px
.tarjeta--gris  
    background-color: #7EADBF
.linea-tiempo-d.color-acento-botones.activo .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color:#7EADBF
.linea-tiempo-d.color-acento-botones.activo .linea-tiempo-d__item__number 
    background-color: #7EADBF

.barra-avance__boton--regresar span 
  color: #fff !important
.boton:active *, .boton--sm:active *, .boton:focus *, .boton--sm:focus *, .boton:hover *, .boton--sm:hover *
  color: #fff !important

.fa-chevron-left 
  color: #fff
.fa-chevron-right
  color: #fff
